<h1> Enter a New Judge </h1>

<%= form_tag "/judges/" do%>
  <div>
    <label> Name </label>
    <input type="text" name="name" value="<%= @judge.name%>">
    </select>
  </div>

  <input type="submit" value="Create Judge">
<% end %>
